@(message: String) 

@main("Information") {
<header>Задача</header>
<article>
    <ul>
        <li>Обслуживать HTTP запросы по URL "/search". В параметрах
            запроса передается параметр "query", содержащий ключевое слово для
            поиска. Параметров может быть несколько, в этом случае мы работаем с
            несколькими ключевыми словами. Пример
            "http://localhost:8080/search?query=jet&query=smap". Предполагаем,
            что клиент будет передавать только алфавитно-цифровые запросы в
            ASCII. Однако, наличие корректной поддержки русского языка в
            кодировке UTF-8 будет плюсом.
        </li>
        <li>Сервис должен обраться к API Яндекса поиска по форумам и
            блогам
            (http://api.yandex.ru/blogs/doc/search/concepts/general-info.xml,
            "поиск по записям и комментариям") по HTTP, получить ответ через RSS.
            В случае, если ключевых слов переданно больше одного, запросы должны
            выполняться параллельно (по одному HTTP запросу на ключевое слово).
            Должно быть ограничение на максимальное количество одновременных
            HTTP-соединений, это значение нельзя превышать. Если ключевых слов
            больше, нужно организовать очередь обработки так, чтобы более
            указанного количество соединений не открывалось. По каждому слову
            ищем только первые 10 записей. Пример запроса к API:
            http://blogs.yandex.ru/search.rss?text=scala
        </li>
        <li>Из каждого результата извлекаем основную ссылку (поле link).
            Из ссылки берем hostname, из которого берется только домен второго
            уровня (т.е. из ссылки http://lenta.ru/photo/2012/11/28/lis/
            оставляем только "lenta.ru")
        </li>
        <li>В результате работы веб-сервиса должна быть возвращена
            статистика по доменам второго уровня - сколько раз в сумме
            использовался домен по всем ключевым словам. В случае, если по разным
            ключевым словам было найдены полностью идентичные ссылки, хост должен
            учитываться только один раз.
        </li>
        <li>Результат должен быть предствлен в формате JSON. Выдача
            ответа с человеко-читаемым форматированием (pretty print) будет
            рассматриваться как плюс. Пример ответа: { "lenta.ru" : 5,
            "livejournal.com" : 10, "vk.com" : 20 }
       </li>
    </ul>
</article>
<footer>
    @defining(routes.Application.search() + "?query=hello&query=world") { newQuery =>
        <a href='@newQuery'>Осуществить запрос '@newQuery'</a>
    }
</footer>
}
